.container {
    max-width: 750px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 5rem;

    @media only screen and (max-width: 750px) {
        max-width: 100%;
    }
}

.title {
    color: inherit;
}

.date-and-reading-time-div {
    display: flex;
    color: rgba(0, 0, 255, 0.65);
    font-weight: 700;
}

.image {
    border-radius: 20px;

    @media only screen and (max-width: 750px) {
        border-radius: 10px;
    }
}

.blog {
    a {
        color: inherit;
        padding: 4px 2px;
        text-decoration: none;
        background-image: linear-gradient(
          transparent 0%,
          transparent calc(50% - 3px),
          rgba(0, 0, 255, 0.65) calc(50% - 3px),
          rgba(0, 0, 255, 0.65) 100%
        );
        background-size: 100% 200%;
    }

    a:hover {
        color: white;
        background-image: linear-gradient(
          transparent 0%,
          transparent calc(50% - 3px),
          rgba(0, 0, 255, 0.65) calc(50% - 3px),
          rgba(0, 0, 255, 0.65) 100%
        );
        background-position: 0px 100%;
        transition: 0.3s;
    }
      
    a.link-active {
        font-size: 20px;
        font-weight: bold;
    }

    figcaption {
        text-align: center;
        font-style: normal;
        font-size: 0.8em;
        width: 100%;
        margin-top: 0.3rem;
        margin-bottom: 1.5rem;
    }
}

.title-squared-div {
    width: 54px;
    height: 54px;
    background-color: rgba(0, 0, 255, 0.25);

    @media only screen and (max-width: 480px) {
        width: 49px;
        height: 49px;
    }
}

.date-rectangular-div {
    width: 8px;
    height: 54px;
    background-color: rgba(0, 0, 255, 0.25);

    @media only screen and (max-width: 480px) {
        height: 49px;
    }
}
