.container {
    max-width: 750px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 16px;

    @media only screen and (max-width: 750px) {
        max-width: 100%;
    }

    h1 {
        margin-bottom: 0.8rem;
        line-height: 42px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        color: var(--text-primary);
    }

    img {
        border-radius: var(--border-radius);
    }
}

.blog {
    p,
    li,
    ul,
    ol,
    code {
        font-size: 18px;
        line-height: 1.7em;
    }

    figcaption {
        text-align: center;
        font-style: normal;
        font-size: 0.8em;
        width: 100%;
        margin-top: 0.3rem;
        margin-bottom: 1.5rem;
    }

    a {
        color: var(--link-color);
        font-weight: 600;
    }

    // a {
    //     color: rgb(75, 110, 153);
    //     font-weight: 600;
    //     padding: 3px 5px;
    //     text-decoration: none;
    //     background-image: linear-gradient(
    //         transparent 0%,
    //         transparent calc(50% - 2px),
    //         rgb(75, 110, 153) calc(50% - 2px),
    //         rgb(75, 110, 153) 100%
    //     );
    //     background-size: 100% 200%;

    //     &:hover {
    //         color: white;
    //         background-image: linear-gradient(
    //             transparent 0%,
    //             transparent calc(50% - 2px),
    //             rgb(75, 110, 153) calc(50% - 2px),
    //             rgb(75, 110, 153) 100%
    //         );
    //         background-position: 0px 100%;
    //         transition: 0.3s;
    //     }

    //     &.link-active {
    //         font-size: 20px;
    //         font-weight: 600;
    //     }
    // }
}

.anchor {
    margin-bottom: 8px;
    width: fit-content;
    font-size: 18px;
    color: rgb(75, 110, 153);
    font-weight: 600;
    padding: 3px 5px;
    text-decoration: none;
    background-image: linear-gradient(
        transparent 0%,
        transparent calc(50% - 2px),
        rgb(75, 110, 153) calc(50% - 2px),
        rgb(75, 110, 153) 100%
    );
    background-size: 100% 200%;

    &:hover {
        color: white;
        background-image: linear-gradient(
            transparent 0%,
            transparent calc(50% - 2px),
            rgb(75, 110, 153) calc(50% - 2px),
            rgb(75, 110, 153) 100%
        );
        background-position: 0px 100%;
        transition: 0.3s;
    }
}
