.container {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    label {
        margin-bottom: 8px;
        font-weight: 500;
    }
    input {
        outline: none;
        border: none;
        background-color: var(--border);
        background-color: var(--code-background);
        border: 1px solid var(--code-border-color);
        margin-bottom: 16px;
        height: 50px;
        border-radius: var(--border-radius);
        padding: 16px;
    }
}
