body {
    --background: white;
    --text-primary: hsla(0, 0%, 0%, 0.8);
    --text-secondary: rgb(110, 110, 110);
    --button-color: white;
    --button-background: rgb(75, 110, 153);
    --button-background-hover: rgb(47, 82, 126);
    --border: rgb(235, 235, 235);
    --header-height: 80px;
    --border-radius: 8px;
    --link-color: rgb(24, 24, 219);
    --link-color: rgb(49, 79, 162);
    --code-background: #f5f5f5;
    --code-border-color: rgb(230, 230, 230);
    --primary-color: rgb(24, 24, 219);
    --primary-color: rgb(49, 79, 162);
}

body.dark {
    --background: rgb(14, 25, 38);
    --text-primary: rgb(221, 225, 228);
    --text-secondary: rgb(182, 189, 195);
    --border: rgb(77, 80, 81);
}
