.container {
    max-width: 750px;
    padding-left: 1rem;
    padding-right: 1rem;
}

.title {
    margin-bottom: 1.5rem;
}

.image-container {
    min-width: 215px;
    margin-bottom: 1.5rem;
    img {
        border-radius: 10px;
    }
}

.flex-div {
    display: flex;
    justify-content: space-between;

    @media only screen and (max-width: 600px) {
        flex-direction: column;
        margin-left: 0;
    }
}

.about-text-div {
    margin-left: 1.5rem;
    
    a {
        color: inherit;
        padding: 2px;
        text-decoration: none;
        background-image: linear-gradient(
          transparent 0%,
          transparent calc(50% - 8px),
          rgba(0, 0, 255, 0.25) calc(50% - 8px),
          rgba(0, 0, 255, 0.25) 100%
        );
        background-size: 100% 200%;
    }

    a:hover {
        color: white;
        background-image: linear-gradient(
          transparent 0%,
          transparent calc(50% - 8px),
          rgba(0, 0, 255, 0.65) calc(50% - 8px),
          rgba(0, 0, 255, 0.65) 100%
        );
        background-position: 0px 100%;
        transition: 0.3s;
    }

    @media only screen and (max-width: 600px) {
        margin-left: 0;
    }
}
