.container {
    max-width: 750px;
    padding-left: 1rem;
    padding-right: 1rem;
}

.title {
    margin-bottom: 1.5rem;
}

.image-container {
    width: 47%;
    margin-bottom: 1.5rem;

    @media only screen and (max-width: 750px) {
        width: 100%;
    }

    img {
        border-radius: 10px;
    }
}

.flex-div {
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
}

.about-text-div {
    width: 100%;

    p {
        margin-bottom: 0.85rem;
    }
    
    a {
        color: inherit;
        color: rgba(0, 40, 120, 0.65);
        font-weight: 700;
        // padding: 4px 2px;
        padding: 3px 5px;
        text-decoration: none;
        background-image: linear-gradient(
          transparent 0%,
          transparent calc(50% - 2px),
          rgba(0, 40, 120, 0.65) calc(50% - 2px),
          rgba(0, 40, 120, 0.65) 100%
        );
        background-size: 100% 200%;
    }

    a:hover {
        color: white;
        background-image: linear-gradient(
          transparent 0%,
          transparent calc(50% - 2px),
          rgba(0, 40, 120, 0.65) calc(50% - 2px),
          rgba(0, 40, 120, 0.65) 100%
        );
        background-position: 0px 100%;
        transition: 0.3s;
    }
}
