.posts {
    list-style-type: none;
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.post {
    margin: 1rem 0;
    width: 42%;

    a {
        color: inherit;
        display: block;
        text-decoration: none;
        margin-bottom: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 400px;

        div h2 {
            margin-bottom: 1rem;
        }

        div div {
            margin-bottom: 1rem;
        }
    }
}

.date {
    font-size: .8rem;
        font-style: italic;
}
