.container {
    max-width: 1100px;
    padding-left: 1rem;
    padding-right: 1rem;
}

.posts {
    list-style-type: none;
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.post {
    width: 47%;
    cursor: pointer;
    margin: 0;
    margin-bottom: 5rem;

    @media only screen and (max-width: 900px) {
        width: 100%;
    }

    a {
        color: inherit;
        display: block;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h2 {
            margin-bottom: 1rem;
        }
    }

    &:hover {
        transition: all 0.3s ease-in;
        
        .image {
            box-shadow: 1px -1px 10px 0 rgba(0, 0, 0, 0.25);
        }

        h2 {
            text-decoration: underline;
        }
    }
}

.date-and-reading-time-div {
    display: flex;
    color: rgba(0, 0, 255, 0.65);
    font-weight: 700;
    font-size: 0.85rem;
}

.image-container {
    min-width: 215px;
    margin-bottom: 1.5rem;
}

.image {
    border-radius: 10px;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.25);
}

.flex-container {
    display: flex;
    flex-direction: column;
}

.description-date-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title-squared-div, .date-rectangular-div {
    width: 43px;
    height: 43px;
    background-color: rgba(0, 0, 255, 0.25);

    @media only screen and (max-width: 480px) {
        width: 40px;
        height: 40px;
    }
}
