.container {
    max-width: 750px;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 80px;

    h1 {
        color: var(--text-primary);
        margin-bottom: 1.5rem;
    }

    h2 {
        color: var(--text-primary);
    }

    p {
        font-size: 18px;
        // color: var(--text-secondary);
        margin-bottom: 1.5rem;
    }

    .link {
        text-decoration: none;
        text-align: center;
        cursor: pointer;
        color: var(--button-color);
        background-color: var(--button-background);
        box-shadow: none;
        border-radius: var(--border-radius);
        font-size: 18px;
        padding: 13px 0;
        width: 220px;
        margin-bottom: 10px;

        &:hover {
            transition: 0.3s;
            background-color: var(--button-background-hover);
        }
    }

    .blogLink {
        text-decoration: none;

        &:hover {
            transition: 0.3s;
            opacity: 0.8;
        }
    }

    @media only screen and (max-width: 750px) {
        min-width: auto;
        width: 100%;
    }
}
