.link {
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    box-shadow: none;
    border-radius: var(--border-radius);
    font-size: 18px;
    padding: 13px 0;
    width: 220px;
    margin-bottom: 10px;
    font-weight: 600;

    &:hover {
        transition: 0.3s;
    }
}
