.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    margin-bottom: 75px;

    div {
        a {
            text-decoration: none;
            color: inherit;

            p {
                margin-bottom: 0;
                color: rgba(0, 0, 255, 0.6);
                font-weight: 700;
            }
        }
    }

    ul {
        display: flex;
        align-items: center;
        list-style-type: none;
        margin-bottom: 0;

        @media (max-width: 750px) {
            display: none;
        }

        li {
            margin-left: 20px;
            margin-bottom: 0;

            a {
                text-decoration: none;
                color: inherit;
                padding: 6px;
                // border-radius: 3px;
            }

            a:hover {
                background-color: rgba(0, 0, 255, 0.6);
                color: white !important;
                transition: 0.3s;
            }
        }
    }
}

.active-nav-item {
    background-color: rgba(0, 0, 255, 0.6);
    color: white !important;
}
