.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  width: 100%;
  font-size: 18px;
//   text-transform: uppercase;

  @media (max-width: 750px) {
    height: 40px;
  }

  div {
    a {
      text-decoration: none;
      color: white;
      color: inherit;
    //   color: rgb(75, 110, 153);

      @media (max-width: 750px) {
        color: inherit;
        font-weight: 700;
      }

      // &:hover {
      //     font-weight: 700;
      // }
    }
  }

  ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin-bottom: 0;

    @media (max-width: 750px) {
      display: none;
    }

    li {
      margin-left: 20px;
      margin-bottom: 0;

      a {
        text-decoration: none;
        color: inherit;
        // color: white;
        // color: rgb(75, 110, 153);
        padding: 6px;
        border-radius: 3px;
      }

      a:hover {
        // background-color: rgb(75, 110, 153);
        // color: white !important;
        font-weight: 700;
        // transition: 0.3s;
      }
    }
  }
}

.active-nav-item {
  // background-color: rgb(75, 110, 153);
  // color: white !important;
  font-weight: 700;
}
