.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 75px;

    div {
        a {
            text-decoration: none;
            color: inherit;

            h2 {
                margin-bottom: 0;
            }
        }
    }

    ul {
        display: flex;
        align-items: center;
        list-style-type: none;
        margin-bottom: 0;

        li {
            margin-left: 15px;
            margin-bottom: 0;

            a {
                text-decoration: none;
                color: inherit;
            }
        }
    }
}
