.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    width: 100%;
    font-size: 18px;
    text-transform: lowercase;
    font-weight: 700;

    //   @media (max-width: 750px) {
    //     height: 40px;
    //   }

    div {
        a {
            text-decoration: none;
            color: white;
            color: inherit;
            //   color: rgb(75, 110, 153);
            font-weight: 700;

            @media (max-width: 750px) {
                color: inherit;
                // color: rgb(75, 110, 153);
                font-weight: 700;
            }

            // &:hover {
            //     font-weight: 700;
            // }
        }
    }

    ul {
        display: flex;
        align-items: center;
        list-style-type: none;
        margin-bottom: 0;

        // @media (max-width: 750px) {
        //   display: none;
        // }

        li {
            margin-left: 10px;
            margin-bottom: 0;

            a {
                text-decoration: none;
                color: inherit;
                padding: 6px;
                border-radius: 3px;
                color: rgb(110, 110, 110);
            }

            a:hover {
                transition: 0.3s;
                font-weight: 700;
                color: rgba(0, 0, 0, 0.8);
            }
        }
    }
}

.active-nav-item {
    color: rgba(0, 0, 0, 0.8) !important;
}
