.container {
    max-width: 750px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 5rem;
    // border-top: 1px solid var(--border);

    h2,
    p {
        color: var(--text-primary);
    }

    form {
        display: flex;
        flex-direction: column;
        margin-bottom: 0;

        > div {
            display: flex;
            justify-content: space-between;

            > div {
                display: flex;
                flex-direction: column;
                width: 49%;
            }

            @media only screen and (max-width: 750px) {
                flex-direction: column;

                > div {
                    width: 100%;
                }
            }
        }
    }

    input {
        outline: none;
        border: none;
        background-color: var(--border);
        background-color: var(--code-background);
        border: 1px solid var(--code-border-color);
        margin-bottom: 16px;
        height: 75px;
        border-radius: var(--border-radius);
        padding: 16px;
        font-size: 18px;
    }

    label {
        font-size: 18px;
        margin-bottom: 8px;
        font-weight: 700;
    }

    input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 30px white inset !important;
        box-shadow: 0 0 0 30px white inset !important;
    }

    button,
    a {
        text-decoration: none;
        cursor: pointer;
        text-align: center;
        background-color: var(--button-background);
        background-color: var(--primary-color);
        color: white;
        box-shadow: none;
        font-size: 18px;
        padding: 13px 0;
        width: 220px;
        border: none;
        margin-top: 15px;
        // font-weight: 700;
        border-radius: var(--border-radius);

        // &:hover {
        //     transition: 0.3s;
        //     background-color: var(--button-background-hover);
        // }
    }

    .error,
    .success {
        margin-top: 10px;
        margin-bottom: 0;
        color: rgb(136, 63, 52);
        font-weight: 700;
        font-size: 15px;
    }

    .success {
        color: rgb(44, 117, 44);
    }
}

.profileImageLink {
    &:hover {
        opacity: 0.8;
    }

    @media only screen and (max-width: 750px) {
        display: none;
    }
}

.newsletterTextContainer {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
