.container {
    max-width: 750px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 5rem;
    margin-top: 2rem;

    h2,
    p {
        color: var(--text-primary);
    }

    form {
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
    }

    input {
        outline: none;
        border: none;
        background-color: var(--border);
        margin-bottom: 8px;
        height: 75px;
        border-radius: 8px;
        padding: 16px;
        max-width: 350px;
    }

    label {
        font-size: 18px;
        margin-bottom: 8px;
    }

    input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 30px white inset !important;
        box-shadow: 0 0 0 30px white inset !important;
    }

    button {
        cursor: pointer;
        text-align: center;
        background-color: var(--button-background);
        color: white;
        box-shadow: none;
        font-size: 18px;
        padding: 13px 0;
        width: 220px;
        border: none;
        margin-top: 15px;
        font-weight: bold;
        border-radius: 4px;

        &:hover {
            transition: 0.3s;
            background-color: var(--button-background-hover);
        }
    }

    .error,
    .success {
        margin-top: 10px;
        margin-bottom: 0;
    }
}
